@import "tailwindcss";

@keyframes vibrate {
  0% { transform: scale(1); }
  25% { transform: scale(0.8); }  /* 팍 줄어듦 */
  50% { transform: scale(1.1); }  /* 커짐 */
  75% { transform: scale(0.9); }  /* 반쯤 줄어듦 */
  100% { transform: scale(1); }   /* 원복 */
}

@layer base {
  body {
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }

    a {
        color: #007acc;
        text-decoration: none;
        margin-right: 15px;
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: white;
    }
}

@layer components {
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #57aee8;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease;
      /* transform 0.1s ease-in-out; */
  }

  .btn:hover {
    background-color: #005f99;
    cursor: pointer;
  }

  .btn:active {
    /* transform: scale(0.9); */
    animation: vibrate 0.1s ease-in-out;
  }
}
